@import url('https://fonts.googleapis.com/css2?family=Oswald&display=block');

:root {
  --background: black;
  --line: black;
  --text: #c6c6c6;
  --holder: #272727;
  --theme_container_border: rgba(146, 146, 146, 0.481);
  --theme-secondary: white;
  --theme_shadow: black;
  --white: #fff;

  --icon-size: 6.5vw;
  --font-size: 65vmin;
}

[data-theme='dark'] {
  --background: #f3f3f3;
  --text: #000000;
  --line: #e6e6e6;
  --holder: #e6e6e6;
  --theme_container_border: rgba(0, 0, 0, 0.305);
  --theme-secondary: rgb(80, 77, 88);
  --theme_shadow: rgba(0, 0, 0, 0);
}

html,
body {
  font-family: 'Oswald';
  background-color: var(--background);
  margin: 0;
  padding: 0;
  height: 100%;
  font-weight: bold;
}

header {
  text-align: right;
  padding: 20px 40px;
  position: absolute;
  top: 0;
  right: 0;
  color: var(--text);
  font-size: var(--icon-size);
  display: flex;
  align-items: flex-start;

  .theme-switcher {
    display: none;
  }

  a {
    font-size: 6vmin;
    color: var(--white);
  }
}
:fullscreen header {
  display: none;
}
#ampm {
  display: none;
}

.hide {
  display: none !important;
}
svg {
  fill: var(--holder);
  filter: contrast(60%);
  transition: all 0.2s ease;
}
svg:hover {
  fill: var(--text);
}

.line {
  width: 100vw;
  height: 8px;
  background-color: var(--holder);
  position: absolute;
  top: 50%;
  left: 0;
  z-index: 2;
  transform: translate(0, -50%);
}

.container {
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 0 1% 0 1%;
}

.holder {
  position: relative;

  width: 75vmin;
  height: 75vmin;

  margin: auto 3vmin;
  padding: 2vmin;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--holder);

  border-radius: 10vmin;
}
.holder h1 {
  color: var(--text);

  /* font-size: 480px; */
  font-size: clamp(30vw, 40vw, 50vw);

  margin: auto;
  text-align: center;
  font-weight: 100;
  transition: all 0.5s;
}

.holder h2 {
  position: absolute;
  top: 70%;
  color: var(--text);

  /* font-size: 50px; */
  font-size: clamp(3vw, 4vw, 5vw);

  font-family: Arial;
  font-weight: bold;

  margin-left: 7%;
  text-align: left;
}

.holder .container-segment {
  text-align: center;
}

.holder .container-segment .segment {
  /* width: 80%; */
}
.plus-minus {
  --svg: var(--holder);
  --secondary: #4d4d4d;
  filter: contrast(85%);

  --duration: 0.5s;

  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-mask-image: -webkit-radial-gradient(white, black);
  outline: none;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transform-style: preserve-3d;
  perspective: 240px;
  border-radius: 50%;

  width: var(--icon-size);
  height: var(--icon-size);
  margin-top: 9px;

  /* border: 4px solid var(--svg); */
  background-size: 300% 300%;
  transition: transform 0.3s;
  transform: scale(var(--scale, 1)) translateZ(0);
  -webkit-animation: var(--name, unchecked) var(--duration) ease forwards;
  animation: var(--name, unchecked) var(--duration) ease forwards;
}
.plus-minus:before,
.plus-minus:after {
  content: '';
  position: absolute;
  width: 16px;
  height: var(--height, 16px);
  left: 6px;
  top: var(--top, 6px);
  -webkit-animation: var(--name-icon-b, var(--name-icon, unchecked-icon))
    var(--duration) ease forwards;
  animation: var(--name-icon-b, var(--name-icon, unchecked-icon))
    var(--duration) ease forwards;
}
.plus-minus:before {
  -webkit-clip-path: polygon(
    0 6px,
    6px 6px,
    6px 0,
    10px 0,
    10px 6px,
    16px 6px,
    16px 10px,
    10px 10px,
    10px 16px,
    6px 16px,
    6px 10px,
    0 10px
  );
  clip-path: polygon(
    0 6px,
    6px 6px,
    6px 0,
    10px 0,
    10px 6px,
    16px 6px,
    16px 10px,
    10px 10px,
    10px 16px,
    6px 16px,
    6px 10px,
    0 10px
  );
}
.plus-minus:after {
  --height: 4px;
  --top: 12px;
  --background: var(--secondary);
  --name-icon-b: var(--name-icon-a, checked-icon);
}
.plus-minus:active {
  --scale: 0.95;
}
.plus-minus:checked {
  --name: checked;
  --name-icon-b: checked-icon;
  --name-icon-a: unchecked-icon;
}
.plus-minus:hover {
  --svg: rgba(60, 60, 60, 0.518);
  --secondary: #636363;
}

@-webkit-keyframes checked-icon {
  from {
    transform: translateZ(12px);
  }
  to {
    transform: translateX(16px) rotateY(90deg) translateZ(12px);
  }
}

@keyframes checked-icon {
  from {
    transform: translateZ(12px);
  }
  to {
    transform: translateX(16px) rotateY(90deg) translateZ(12px);
  }
}
@-webkit-keyframes unchecked-icon {
  from {
    transform: translateX(-16px) rotateY(-90deg) translateZ(12px);
  }
  to {
    transform: translateZ(12px);
  }
}
@keyframes unchecked-icon {
  from {
    transform: translateX(-16px) rotateY(-90deg) translateZ(12px);
  }
  to {
    transform: translateZ(12px);
  }
}
@-webkit-keyframes checked {
  from {
    background-image: radial-gradient(
      ellipse at center,
      var(--svg) 0%,
      var(--svg) 25%,
      var(--secondary) 25.1%,
      var(--secondary) 100%
    );
    background-position: 100% 50%;
  }
  to {
    background-image: radial-gradient(
      ellipse at center,
      var(--svg) 0%,
      var(--svg) 25%,
      var(--secondary) 25.1%,
      var(--secondary) 100%
    );
    background-position: 50% 50%;
  }
}
@keyframes checked {
  from {
    background-image: radial-gradient(
      ellipse at center,
      var(--svg) 0%,
      var(--svg) 25%,
      var(--secondary) 25.1%,
      var(--secondary) 100%
    );
    background-position: 100% 50%;
  }
  to {
    background-image: radial-gradient(
      ellipse at center,
      var(--svg) 0%,
      var(--svg) 25%,
      var(--secondary) 25.1%,
      var(--secondary) 100%
    );
    background-position: 50% 50%;
  }
}
@-webkit-keyframes unchecked {
  from {
    background-image: radial-gradient(
      ellipse at center,
      var(--secondary) 0%,
      var(--secondary) 25%,
      var(--svg) 25.1%,
      var(--svg) 100%
    );
    background-position: 100% 50%;
  }
  to {
    background-image: radial-gradient(
      ellipse at center,
      var(--secondary) 0%,
      var(--secondary) 25%,
      var(--svg) 25.1%,
      var(--svg) 100%
    );
    background-position: 50% 50%;
  }
}
@keyframes unchecked {
  from {
    background-image: radial-gradient(
      ellipse at center,
      var(--secondary) 0%,
      var(--secondary) 25%,
      var(--svg) 25.1%,
      var(--svg) 100%
    );
    background-position: 100% 50%;
  }
  to {
    background-image: radial-gradient(
      ellipse at center,
      var(--secondary) 0%,
      var(--secondary) 25%,
      var(--svg) 25.1%,
      var(--svg) 100%
    );
    background-position: 50% 50%;
  }
}

@media only screen and (max-width: 1200px) {
  .line {
    height: 5px;
  }
  .holder {
    border-radius: 20px;
    margin: auto 5px;
  }

  svg {
    width: 8vw;
    height: 8vw;
  }
  .plus-minus {
    width: 6.5vw;
    height: 6.5vw;
  }
  .full {
    display: block;
  }

  @media screen and (orientation: landscape) {

    svg {
      width: 4vw;
      height: 4vw;
      margin-left: 0.3em;
    }

    .plus-minus {
      width: 3.2vw;
      height: 3.2vw;
    }
  }
}
