
@font-face {
  font-family: "Iconify Explorer Font";
  src: url("./iconfont.eot");
  src: url("./iconfont.eot") format("embedded-opentype"),
       url("./iconfont.ttf") format("truetype"),
       url("./iconfont.woff") format("woff"),
       url("./iconfont.woff2") format("woff2"),
       url("./iconfont.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

.i {
  font-family: "Iconify Explorer Font" !important;
  /* font-size: 1em; */
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.i.carbon\:logo-github:before {
content: "\e001";
}

.i.carbon\:moon:before {
content: "\e002";
}

.i.carbon\:sun:before {
content: "\e003";
}

